<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>组件属性</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-tab-item layui-show">
                <!--            组件展示-->
                <div class="layui-row layui-col-space12">
                    <div class="layui-col-md10">
                        <div class="layui-card">
                            <div class="layui-card-body">
                                <table id="test-table-toolbar1" lay-filter="test-table-toolbar1"></table>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="layui-form-item layui-layout-admin">
    <div class="layui-input-block">
        <div class="layui-footer" style="left: 0;">
            <button class="layui-btn" onclick="save()">保存</button>
        </div>
    </div>
</div>

<script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="${pageContext.request.contextPath}/resources/script/login.js"></script>
<script src="../../js/demo.js"></script>
<script src="../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'table', 'laydate', 'layer', 'element', 'jquery'], function (table, layer, element, $, form) {
        var $ = layui.$
            , form = layui.form
            , table = layui.table

        form.render(null, 'component-form-group');
        var relatId = window.location.search.substring(1, window.location.search.length);
        table.render({
            elem: '#test-table-toolbar1'
            , id: 'prodReload'
            , method: 'post'
            , url: '/component/basicView?relatId=' + relatId //数据接口
            , title: '基础信息表'
            , response: {
                statusName: 'code',
                statusCode: '200'
            }
            , cols: [[
                {field: 'toolName', title: '字段名称', width: '20%'}
                , {field: 'toolType', title: '字段类型', width: '20%', templet: function (d) {
                        var opt = '<select id="toolType" name="toolType" class="province-selector" >\n'
                        if (d.toolType === "text") {
                            opt = opt + ' <option value="文本" selected>文本</option>\n' +
                                '      <option value="字典" >字典</option>\n'
                        } else {
                            opt = opt + ' <option value="文本">文本</option>\n' +
                                '      <option value="字典" selected>字典</option>\n'
                        }
                        opt = opt + '</select>'
                        return opt
                    }
                }
                , {field: 'sourDict', title: '数据源', width: '20%', templet: function (d) {
                        var opt = '<select id="sourDict" name="sourDict" class="province-selector" >\n'
                        opt = opt + ' <option value="文本" >文本</option>\n' +
                            '      <option value="字典" >字典</option>\n'
                        opt = opt + '</select>'
                        return opt
                    }
                }
                , {field: 'resState', title: '查询结果', width: '18%', templet: function (d) {
                        var opt
                        if (d.resState === "1") {
                            opt = '<input type="checkbox" id="resState" name="resState" lay-skin="primary" checked>'
                        } else {
                            opt = '<input type="checkbox" id="resState" name="resState" lay-skin="primary" >'
                        }
                        return opt
                    }
                }
                , {field: 'selState', title: '查询条件', width: '18%', templet: function (d) {
                        var opt
                        if (d.selState === "1") {
                            opt = '<input type="checkbox" id="selState" name="selState" lay-skin="primary" checked>'
                        } else {
                            opt = '<input type="checkbox" id="selState" name="selState" lay-skin="primary" >'
                        }
                        return opt
                    }
                }
            ]]
            , done: function (res, curr, count) {
                count || this.elem.next('.layui-table-view').find('.layui-table-header').css('overflow', 'auto');
                layui.each($('select'), function (index, item) {
                    var elem = $(item);
                    elem.val(elem.data('value')).parents('div.layui-table-cell').css('overflow', 'visible');
                });
            }
        });

        //监听单元格编辑
        table.on('edit(test-table-toolbar1)', function (obj) {
            var params = {};
            params.extId = obj.data.extId;
            params.field = obj.field;
            params.value = obj.value;
            postdata(params, "/supp/colsave", function () {table.reload('colReload');layer.msg("更新成功");})
        });

        $.ajax({
            type: "post",
            url: "/toolSto/sourDet?relatId=" + relatId,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (detObj) {
                if (detObj.msg == "success") {
                    var detJson = detObj.data;
                    $('#tblId').val(detJson.tblId);
                    $('#tblName').val(detJson.tblName);
                    layui.form.render();
                }
            }
        });

        //数据源字典
        $.ajax({
            type: "post",
            url: "/toolSto/sourDict?relatId=" + relatId,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (detObj) {
                if (detObj.msg == "success") {
                    document.getElementById("tblId").options.length = 0;
                    for (var i=0; i<detObj.data.length; i++) {
                        document.getElementById("tblId").options.add(new Option(detObj.data[i].tblName,detObj.data[i].tblId));
                    }
                    layui.form.render();
                }
            }
        });

        var menuId = window.location.search.substring(1, window.location.search.length);
        table.render({
            elem: '#test-table-toolbar2'
            , id: 'ruleReload'
            , method: 'post'
            , url: '/toolSto/ruleList?menuId=' + menuId //数据接口
            , toolbar: '#test-table-toolbar-toolbarDemo'
            , response: {
                statusName: 'code',
                statusCode: '200'
            }
            , cols: [[
                {type: 'checkbox', fixed: 'left', width: '12.5%'}
                , {field: 'tbl1', title: '表1', width: '12.5%'}
                , {field: 'joinType', title: '关联方式', width: '12.5%'}
                , {field: 'tbl2', title: '表2', width: '12.5%'}
                , {field: 'key1', title: '关键字1', width: '12.5%'}
                , {field: 'matchType', title: '匹配方式', width: '12.5%'}
                , {field: 'key2', title: '关键字2', width: '12.5%'}
                , {field: 'shows', title: '展示', width: '12.5%'}
            ]]
        });

        table.on('toolbar(test-table-toolbar2)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'add':
                    layer.open({
                        type: 2
                        ,title: '新增'
                        ,content: 'basicadd.html?' + menuId
                        ,maxmin: true
                        ,area: ['1200px', '600px']
                    });
                    break;
                case 'del':
                    layer.confirm('是否删除？', {
                        btn: ['是','否'] //按钮
                    }, function(){
                        postdata(null,"/tool/ruleDel?relatId=" + checkStatus.data[0].relatId,function () {
                            table.reload('ruleReload');layer.msg("删除成功");})
                    });
                    break;
            };
        });

        $('.layui-fluid .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });

    function save() {
        var params = {};
        params.relatId = window.location.search.substring(1, window.location.search.length);
        params.tblId = $('#tblId').val();
        postdata(params, "/tool/sourEdit", function () {
            layer.msg("保存成功！");
        });
    }
</script>
</body>
</html>