<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaselectByUsernametiselectUsers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wision.mapper.ApiMapper">
    <select id="apiList" resultType="com.wision.entity.ApiList" >
        select api_id,api_name,api_addr,api_net,api_explain from t_supp_api_main where 1=2
        <if test="params.apiName!=null and params.apiName!=''">
            and api_name like '%' #{params.apiName} '%'
        </if>
        <if test="params.apiNet!=null and params.apiNet!=''">
            and api_net = #{params.apiNet}
        </if>
        order by api_id
    </select>
    <select id="apiDet" resultType="com.wision.entity.ApiDet" >
        select api_id,api_name,api_addr,app_key,app_secret,request_time,sign1,api_net,api_explain
        from t_supp_api_main where api_id=#{apiId}
    </select>
    <insert id="insertApi">
        insert into t_supp_api_main(api_name,api_addr,app_key,app_secret,request_time,sign1,api_net,api_explain)
        values(#{params.apiName},#{params.apiAddr},#{params.appKey},#{params.appSecret},#{params.requestTime},#{params.sign1}
        ,#{params.apiNet},#{params.apiExplain})
    </insert>
    <delete id="deleteApi">
        delete from t_supp_api_main where api_id=#{apiId}
    </delete>
    <update id="updateApi">
        update t_supp_api_main set api_name=#{params.apiName},api_addr=#{params.apiAddr},app_key=#{params.appKey},app_secret=#{params.appSecret}
        ,request_time=#{params.requestTime},sign1=#{params.sign1},api_net=#{params.apiNet},api_explain=#{params.apiExplain} where api_id=#{params.apiId}
    </update>
    <update id="updateRequestTime">
        update t_supp_api_main set request_time=#{requestTime} where api_id=#{apiId}
    </update>
    <select id="selectInsure" resultType="com.wision.entity.InsureForm" >
        select id,recipient_name,id_card,lz,dy,fh,cb,jy,cb_chk,jy_chk from t_supp_api_insure where 1=1
        <if test="params.recipientName!=null and params.recipientName!=''">
            and recipient_name like '%' #{params.recipientName} '%'
        </if>
        <if test="params.idCard!=null and params.idCard!=''">
            and id_card like '%' #{params.idCard} '%'
        </if>
        order by id
    </select>
    <select id="selectInsureAll" resultType="com.wision.entity.InsureForm" >
        select id,recipient_name,id_card,lz,dy,fh,cb,jy,cb_chk,jy_chk from t_supp_api_insure where cb_chk is null
    </select>
    <update id="updateInsure">
        update t_supp_api_insure set cb_chk=#{cbChk},jy_chk=#{jyChk} where id_card=#{idCard}
    </update>
</mapper>