<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaselectByUsernametiselectUsers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wision.mapper.ChildMapper">
    <select id="getChildName" resultType="String" >
        select prod_name from t_supp_prod_main where prod_id=#{prodId}
    </select>
    <select id="getChildMenu" resultType="com.wision.entity.ChildMenuVo" >
        select menu_id,menu_name,nick_name from t_supp_menu_main where prod_id=#{prodId}
    </select>
    <select id="getTblSel" resultType="com.wision.entity.ChildTblCol" >
        select b.tool_code as field,b.tool_name as title from t_supp_relat_main a inner join t_supp_relat_ext b
        on a.relat_id=b.relat_id where a.menu_id=#{menuId} and a.layout_type='主表'
        <if test="res!=null and res!=''">
            and b.res_state=1
        </if>
        <if test="sel!=null and sel!=''">
            and b.sel_state=1
        </if>
    </select>
    <select id="getNickNameByMenuId" resultType="String" >
        select nick_name from t_supp_menu_main where menu_id=#{menuId}
    </select>
    <select id="getMainCont" resultType="com.wision.entity.MainContVo" >
        select * from ${tblName} where 1=1
<!--        <if test="sel!=null and sel!=''">-->
<!--            and b.sel_state=1-->
<!--        </if>-->
    </select>
    <select id="getBasicCol" resultType="com.wision.entity.BasicCol" >
        select b.tool_code,b.tool_name from t_supp_relat_main a inner join t_supp_relat_ext b
        on a.relat_id=b.relat_id where a.menu_id=#{menuId} and a.layout_type='主表'
    </select>
    <select id="getChildTblContDet" resultType="com.wision.entity.ChildTblForm" >
        select * from ${tblName} where id=#{projId}
    </select>
    <select id="getBasicChildTbl" resultType="String" >
        select basic_tbl from t_supp_relat_main a where menu_id=#{menuId} and layout_type='主表'
    </select>
    <select id="childTblCont" resultType="com.wision.entity.ChildTblForm" >
        select #{menuId} as menu_id,a.* from ${params1.tblName} a where 1=1
        <if test="params1.col1!=null and params1.col1!=''">
            and a.col1 like '%' #{params1.col1} '%'
        </if>
        <if test="params1.col2!=null and params1.col2!=''">
            and a.col2 like '%' #{params1.col2} '%'
        </if>
        <if test="params1.col3!=null and params1.col3!=''">
            and a.col3 like '%' #{params1.col3} '%'
        </if>
        <if test="params1.col4!=null and params1.col4!=''">
            and a.col4 like '%' #{params1.col4} '%'
        </if>
        <if test="params1.col5!=null and params1.col5!=''">
            and a.col5 like '%' #{params1.col5} '%'
        </if>
        <if test="params1.col6!=null and params1.col6!=''">
            and a.col6 like '%' #{params1.col6} '%'
        </if>
        <if test="params1.col7!=null and params1.col7!=''">
            and a.col7 like '%' #{params1.col7} '%'
        </if>
        <if test="params1.col8!=null and params1.col8!=''">
            and a.col8 like '%' #{params1.col8} '%'
        </if>
        <if test="params1.col9!=null and params1.col9!=''">
            and a.col9 like '%' #{params1.col9} '%'
        </if>
        <if test="params1.col10!=null and params1.col10!=''">
            and a.col10 like '%' #{params1.col10} '%'
        </if>
        <if test="params1.col11!=null and params1.col11!=''">
            and a.col11 like '%' #{params1.col11} '%'
        </if>
        <if test="params1.col12!=null and params1.col12!=''">
            and a.col12 like '%' #{params1.col12} '%'
        </if>
        <if test="params1.col13!=null and params1.col13!=''">
            and a.col13 like '%' #{params1.col13} '%'
        </if>
        <if test="params1.col14!=null and params1.col14!=''">
            and a.col14 like '%' #{params1.col14} '%'
        </if>
        <if test="params1.col15!=null and params1.col15!=''">
            and a.col15 like '%' #{params1.col15} '%'
        </if>
        <if test="params1.col16!=null and params1.col16!=''">
            and a.col16 like '%' #{params1.col16} '%'
        </if>
        <if test="params1.col17!=null and params1.col17!=''">
            and a.col17 like '%' #{params1.col17} '%'
        </if>
        <if test="params1.col18!=null and params1.col18!=''">
            and a.col18 like '%' #{params1.col18} '%'
        </if>
        <if test="params1.col19!=null and params1.col19!=''">
            and a.col19 like '%' #{params1.col19} '%'
        </if>
        <if test="params1.col20!=null and params1.col20!=''">
            and a.col20 like '%' #{params1.col20} '%'
        </if>
        <if test="params1.step!=null and params1.step!=''">
            and a.step like '%' #{params1.step} '%'
        </if>
        order by a.id
    </select>
<!--    <select id="getProdNikName" resultType="String" >-->
<!--        select prod_nikname from t_supp_prod_main where prod_id=#{prodId}-->
<!--    </select>-->
<!--    <select id="getToolPage" resultType="String" >-->
<!--        select tool_page from t_supp_relat_main where relat_id=#{relatId}-->
<!--    </select>-->
<!--    <select id="getRealPage" resultType="String" >-->
<!--        select real_page from t_supp_relat_main where relat_id=#{relatId}-->
<!--    </select>-->
</mapper>