<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaselectByUsernametiselectUsers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wision.mapper.DataMapper">
    <select id="sourList" resultType="com.wision.entity.SourListVo" >
        select sour_id,sour_name,sour_cont,sour_from,sour_type from t_sys_data_sour a where 1=1
        <if test="params.sourName!=null and params.sourName!=''">
            and a.sour_name like #{params.sourName} '%'
        </if>
        <if test="params.sourCont!=null and params.sourCont!=''">
            and a.sour_cont like #{params.sourCont} '%'
        </if>
        <if test="params.sourFrom!=null and params.sourFrom!=''">
            and a.sour_from like #{params.sourFrom} '%'
        </if>
        <if test="params.sourType!=null and params.sourType!=''">
            and a.sour_type = #{params.sourType}
        </if>
    </select>
<!--    <select id="selDet" resultType="com.wision.entity.AssDetVo">-->
<!--        select t.ass_id,left(t.type_code,2) as ass_type1,left(t.type_code,3) as ass_type2,t.type_code as ass_type3,t.ass_contr-->
<!--        ,t.ass_no,t.ass_name,t.ass_catg,t.ass_tag,t.ass_model,t.ass_factoryno,t.ass_manufacturer,t.ass_supplier,t.ass_unit,t.ass_num-->
<!--        ,t.ass_cost,t.purchase_date,t.ass_dept,t.ass_owner,t.ass_addr,t.ass_state,t.ass_remark-->
<!--        from t_ass_main t-->
<!--        left join t_ass_offic a on t.ass_id=a.ass_id-->
<!--        left join t_ass_consp b on t.ass_id=b.ass_id-->
<!--        left join t_ass_car c on t.ass_id=c.ass_id-->
<!--        left join t_ass_server d on t.ass_id=d.ass_id-->
<!--        left join t_ass_camera e on t.ass_id=e.ass_id-->
<!--        left join t_ass_gate f on t.ass_id=f.ass_id-->
<!--        left join t_ass_instr g on t.ass_id=g.ass_id-->
<!--        where t.ass_id = #{assId}-->
<!--    </select>-->
<!--    <insert id="insertAss">-->
<!--        insert into t_ass_main(type_code,ass_contr,ass_no,ass_name,ass_catg,ass_tag,ass_model,ass_factoryno,ass_manufacturer,ass_supplier-->
<!--        ,ass_unit,ass_num,ass_cost,purchase_date,ass_dept,ass_owner,ass_addr,ass_state,ass_remark) values(#{params.assType3},#{params.assContr}-->
<!--        ,#{params.assNo},#{params.assName},#{params.assCatg},#{params.assTag},#{params.assModel},#{params.assFactoryno},#{params.assManufacturer}-->
<!--        ,#{params.assSupplier},#{params.assUnit},#{params.assNum},#{params.assCost},#{params.purchaseDate},#{params.assDept},#{params.assOwner}-->
<!--        ,#{params.assAddr},#{params.assState},#{params.assRemark})-->
<!--    </insert>-->
<!--    <delete id="deleteAss">-->
<!--        delete from t_ass_main where ass_id=#{assId}-->
<!--    </delete>-->
<!--    <update id="updateAss">-->
<!--        update t_ass_main set type_code=#{params.assType3},ass_contr=#{params.assContr},ass_no=#{params.assNo},ass_name=#{params.assName}-->
<!--        ,ass_catg=#{params.assCatg},ass_tag=#{params.assTag},ass_model=#{params.assModel},ass_factoryno=#{params.assFactoryno}-->
<!--        ,ass_manufacturer=#{params.assManufacturer},ass_supplier=#{params.assSupplier},ass_unit=#{params.assUnit},ass_num=#{params.assNum}-->
<!--        ,ass_cost=#{params.assCost},purchase_date=#{params.purchaseDate},ass_dept=#{params.assDept},ass_owner=#{params.assOwner}-->
<!--        ,ass_addr=#{params.assAddr},ass_state=#{params.assState},ass_remark=#{params.assRemark} where ass_id=#{params.assId}-->
<!--    </update>-->
</mapper>