<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaselectByUsernametiselectUsers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.DocMapper">
    <select id="docList" resultType="com.project.entity.DocListVo" >
        select a.doc_id,b.type_name,b.type_type,a.doc_name,a.doc_puber,date(a.doc_time) as doc_time,a.doc_annex,a.doc_state
        from t_oa_doc_main a inner join t_oa_doc_type b on a.type_id=b.type_id where 1=1
        <if test="type1!='alll'">
            and a.type_id in (select type_id from t_oa_doc_type where type_type=#{type1})
        </if>
        <if test="type2!=0">
            and a.type_id=#{type2}
        </if>
        <if test="params.docName!=null and params.docName!=''">
            and a.doc_name like '%' #{params.docName} '%'
        </if>
        <if test="params.docState!=null and params.docState!=''">
            and a.doc_state=#{params.docState}
        </if>
        order by a.type_id,a.doc_state desc,a.doc_time desc
    </select>
    <select id="selDet" resultType="com.project.entity.UserDetVo">
        select t.user_id,t.user_no,t.user_name,t.user_sex,t.user_tel,t.user_cornet,t.user_offcall,t.user_idcard,t.user_homeaddr,t.user_hometel
        ,t.user_edu,t.user_degree,t.user_school,t.user_major,t.user_polity,t.user_politime,t.user_prop,t.user_jointime,t.dept_id,t.user_duty
        ,t.part_id,t.majo_id,t.user_prof,t.user_topcert,t.user_CPK,t.user_paymonth,t.user_offaddr,t.user_note,t.roler_id,t.user_state
        from t_oa_user t where t.user_id = #{userId}
    </select>
</mapper>