<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaselectByUsernametiselectUsers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wision.mapper.InspMapper">
    <select id="inspTotal" resultType="com.wision.entity.InspVos" >
        select count(*) as insp_total from t_basic_insp where insp_state!='-1' and insp_step_code = #{inspStepCode}
        <if test="params.inspSn!=null and params.inspSn!=''">
            and insp_sn like '%' #{params.inspSn} '%'
        </if>
        <if test="params.inspNo!=null and params.inspNo!=''">
            and insp_no like '%' #{params.inspNo} '%'
        </if>
        <if test="params.unitName!=null and params.unitName!=''">
            and unit_name like '%' #{params.unitName} '%'
        </if>
        <if test="params.equLogcode!=null and params.equLogcode!=''">
            and equ_logcode like '%' #{params.equLogcode} '%'
        </if>
        <if test="params.equProno!=null and params.equProno!=''">
            and equ_prono like '%' #{params.equProno} '%'
        </if>
        <if test="params.equType!=null and params.equType!=''">
            and equ_type like #{params.equType} '%'
        </if>
        <if test="params.inspType!=null and params.inspType!=''">
            and insp_type = #{params.inspType}
        </if>
        <if test="params.inspResult!=null and params.inspResult!=''">
            and insp_result like '%' #{params.inspResult} '%'
        </if>
        <if test="params.equAreacode!=null and params.equAreacode!=''">
            and equ_areacode like #{params.equAreacode} '%'
        </if>
    </select>
    <select id="selInspCond" resultType="com.wision.entity.InspVo" >
        select * from t_basic_insp where insp_state!='-1' and insp_step_code = #{inspStepCode}
        <if test="params.inspSn!=null and params.inspSn!=''">
            and insp_sn like '%' #{params.inspSn} '%'
        </if>
        <if test="params.inspNo!=null and params.inspNo!=''">
            and insp_no like '%' #{params.inspNo} '%'
        </if>
        <if test="params.unitName!=null and params.unitName!=''">
            and unit_name like '%' #{params.unitName} '%'
        </if>
        <if test="params.equLogcode!=null and params.equLogcode!=''">
            and equ_logcode like '%' #{params.equLogcode} '%'
        </if>
        <if test="params.equProno!=null and params.equProno!=''">
            and equ_prono like '%' #{params.equProno} '%'
        </if>
        <if test="params.equType!=null and params.equType!=''">
            and equ_type like #{params.equType} '%'
        </if>
        <if test="params.inspType!=null and params.inspType!=''">
            and insp_type = #{params.inspType}
        </if>
        <if test="params.inspResult!=null and params.inspResult!=''">
            and insp_result like '%' #{params.inspResult} '%'
        </if>
        <if test="params.equAreacode!=null and params.equAreacode!=''">
            and equ_areacode like #{params.equAreacode} '%'
        </if>
        order by insp_sn limit #{page},10
    </select>
</mapper>