<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaselectByUsernametiselectUsers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wision.mapper.ProdStoMapper">
    <select id="prodList" resultType="com.wision.entity.ProdListVo" >
        select a.prod_id,a.prod_type,a.prod_name,a.prod_ver,a.prod_link,a.prod_explain,date_format(a.prod_time,'%Y-%m-%d') as prod_time
        ,a.prod_state from t_supp_prod_main a where prod_state not in ('下架','作废')
        <if test="params.prodType!=null and params.prodType!=''">
            and a.prod_type = #{params.prodType}
        </if>
        <if test="params.prodName!=null and params.prodName!=''">
            and a.prod_name like #{params.prodName} '%'
        </if>
        <if test="params.prodState!=null and params.prodState!=''">
            and a.prod_state = #{params.prodState}
        </if>
        order by a.prod_time desc
    </select>
    <select id="prodDet" resultType="com.wision.entity.ProdDetVo" >
        select a.prod_id,a.prod_type,a.prod_name,a.prod_nikname,a.prod_ver,a.prod_explain,a.prod_state from t_supp_prod_main a where a.prod_id=#{prodId}
    </select>
    <update id="offLine">
        update t_supp_prod_main set prod_state='下架' where prod_id=#{prodId}
    </update>
    <select id="getChildName" resultType="String" >
        select prod_name from t_supp_prod_main where prod_id=#{prodId}
    </select>
    <select id="getChildMenu" resultType="com.wision.entity.ChildMenuVo" >
        select c.menu_id,c.menu_name,'' as real_page from t_supp_menu_main c where (c.father_id='' or c.father_id is null)
        and c.prod_id=#{prodId} union select a.menu_id,a.menu_name,b.real_page from t_supp_menu_main a left join t_supp_relat_main b
        on a.menu_id=b.menu_id where b.layout_type='主表' and a.prod_id=#{prodId}
    </select>
    <select id="getTblSel" resultType="com.wision.entity.ChildTblCol" >
        select b.tool_code as field,b.tool_name as title from t_supp_relat_main a inner join t_supp_relat_ext b
        on a.relat_id=b.relat_id where a.menu_id=#{menuId} and a.layout_type='主表'
        <if test="res!=null and res!=''">
            and b.res_state=1
        </if>
        <if test="sel!=null and sel!=''">
            and b.sel_state=1
        </if>
    </select>
    <select id="getRealPage" resultType="String" >
        select CONCAT(a.prod_id,'_',b.real_page) from t_supp_menu_main a inner join t_supp_relat_main b on a.menu_id=b.menu_id
        where b.layout_type='主表' and a.menu_id=#{menuId}
    </select>
    <select id="getMainCont" resultType="com.wision.entity.MainContVo" >
        select * from ${tblName}
    </select>
</mapper>