<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaselectByUsernametiselectUsers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wision.mapper.ProdMapper">
    <select id="prodList" resultType="com.wision.entity.ProdListVo" >
        select a.prod_id,a.prod_type,a.prod_name,a.prod_ver,a.prod_link,a.prod_explain,date_format(a.prod_time,'%Y-%m-%d') as prod_time
        ,a.prod_state from t_supp_prod_main a where prod_state not in ('下架','作废')
        <if test="params.prodType!=null and params.prodType!=''">
            and a.prod_type = #{params.prodType}
        </if>
        <if test="params.prodName!=null and params.prodName!=''">
            and a.prod_name like #{params.prodName} '%'
        </if>
        <if test="params.prodState!=null and params.prodState!=''">
            and a.prod_state = #{params.prodState}
        </if>
        order by a.prod_time desc
    </select>
    <select id="prodDet" resultType="com.wision.entity.ProdDetVo" >
        select a.prod_id,a.prod_type,a.prod_name,a.prod_nikname,a.prod_ver,a.prod_explain,a.prod_state from t_supp_prod_main a where a.prod_id=#{prodId}
    </select>
    <update id="changeState">
        update t_supp_prod_main set prod_state=#{state} where prod_id=#{prodId}
    </update>
    <select id="prodDesign" resultType="com.wision.entity.ProdDesignVo" >
        select a.prod_id,a.prod_type,a.prod_name,a.prod_ver,a.prod_link,a.prod_explain,date_format(a.prod_time,'%Y-%m-%d') as prod_time
        ,a.prod_state from t_supp_prod_main a where prod_state = '下架'
        <if test="params.prodType!=null and params.prodType!=''">
            and a.prod_type = #{params.prodType}
        </if>
        <if test="params.prodName!=null and params.prodName!=''">
            and a.prod_name like #{params.prodName} '%'
        </if>
        order by a.prod_time desc
    </select>
    <insert id="insertProd">
        insert into t_supp_prod_main(prod_type,prod_name,prod_nikname,prod_ver,prod_link,prod_explain,prod_time,prod_state)
        values(#{params.prodType},#{params.prodName},#{params.prodNikname},#{params.prodVer},'',#{params.prodExplain},now(),'下架')
    </insert>
    <update id="deleteProd">
        update t_supp_prod_main set prod_state='作废' where prod_id=#{prodId}
    </update>
    <update id="updateProd">
        update t_supp_prod_main set prod_type=#{params.prodType},prod_name=#{params.prodName},prod_nikname=#{params.prodNikname}
        ,prod_ver=#{params.prodVer},prod_explain=#{params.prodExplain},prod_time=now() where prod_id=#{params.prodId}
    </update>
    <select id="tblList" resultType="com.wision.entity.TblListVo" >
        select tbl_id,tbl_name,tbl_code from t_supp_imp_tbl where prod_id=#{prodId}
    </select>
    <select id="getProdName" resultType="String" >
        select prod_name from t_supp_prod_main where prod_id=#{prodId}
    </select>
    <select id="menuList" resultType="com.wision.entity.MenuListVo" >
        select menu_id,menu_name,father_id,tool_page,menu_order from t_supp_menu_main where prod_id=#{prodId} order by menu_order
    </select>
    <select id="getToolIdsByMenuId" resultType="com.wision.entity.RelatDetVo" >
        select tool_id from t_supp_relat_main where menu_id=#{menuId}
    </select>
    <insert id="insertMenu">
        insert into t_supp_relat_main(prod_id) values(#{prodId})
    </insert>
    <delete id="deleteRelatExt">
        delete from t_supp_relat_ext where relat_id in (select relat_id from t_supp_relat_main where menu_id = #{menuId})
    </delete>
    <delete id="deleteRelatMain">
        delete from t_supp_relat_main where menu_id=#{menuId}
    </delete>
    <delete id="deleteMenuMain">
        delete from t_supp_relat_main where menu_id=#{menuId}
    </delete>
    <select id="checkRelat" resultType="Long" >
        select relat_id from t_supp_relat_main where menu_id=#{menuId} and tool_id=#{toolId}
    </select>
    <insert id="insertRelat">
        insert into t_supp_relat_main(menu_id,tool_id) values (#{menuId},#{toolId})
    </insert>
    <delete id="cleanExt">
        delete from t_supp_relat_ext where relat_id in (select relat_id from t_supp_relat_main where menu_id=#{menuId} and tool_id not in (${toolIds}))
    </delete>
    <delete id="cleanRelat">
        delete from t_supp_relat_main where menu_id=#{menuId} and tool_id not in (${toolIds})
    </delete>
    <update id="updateMenu">
        update t_supp_relat_main set ${field} = #{value} where menu_id=#{menuId}
    </update>
    <select id="menuFather" resultType="com.wision.entity.MenuTreeVo" >
        select menu_name as title,menu_id as id,'true' as spread,null as children,tool_page from t_supp_menu_main where prod_id=#{prodId} and (father_id is null or father_id='')
    </select>
    <select id="menuChild" resultType="com.wision.entity.children" >
        select menu_name as title,menu_id as id from t_supp_menu_main where father_id=#{fatherId}
    </select>
    <select id="toolSel" resultType="com.wision.entity.ToolListVo" >
        select a.relat_id,a.layout_type,b.tool_id,b.tool_type,b.type_code,b.tool_name,b.tool_ver,b.tool_explain,date_format(b.tool_time,'%Y-%m-%d') as tool_time
             ,b.share_num,b.tool_state from t_supp_relat_main a left join t_supp_tool_basic b on a.tool_id=b.tool_id where a.menu_id = #{params.menuId}
    </select>
    <select id="toolConf" resultType="com.wision.entity.ToolConfVo" >
        select a.relat_id,a.relat_name,a.layout_type,a.self_id,b.tbl_name,a.self_col,a.target_id,a.target_col from t_supp_relat_main a left join t_supp_imp_tbl b on a.self_id=b.tbl_id where a.relat_id=#{relatId}
    </select>
    <update id="relatEdit">
        update t_supp_relat_main set relat_name=#{params.relatName},layout_type=#{params.layoutType},self_id=#{params.selfId} where relat_id=#{params.relatId}
    </update>
    <select id="tblDict" resultType="com.wision.entity.TblListVo" >
        select distinct a.tbl_id,a.tbl_name,a.tbl_code from t_supp_imp_tbl a inner join t_supp_menu_main b on a.prod_id=b.prod_id inner join t_supp_relat_main c on b.menu_id=c.menu_id where c.relat_id=#{relatId}
    </select>
    <select id="getBasicCol" resultType="com.wision.entity.BasicCol" >
        select ext_id,tool_code,tool_name,tool_type,res_state,sel_state from t_supp_relat_ext where tool_tag='basic' and relat_id=#{relatId}
    </select>
    <select id="flowView" resultType="com.wision.entity.FlowViewVo" >
        select ext_id,tool_name,tool_code from t_supp_relat_ext where tool_tag='flow' and relat_id=#{relatId} order by tool_code
    </select>
<!--    <select id="prodView" resultType="com.wision.entity.ProdViewVo" >-->
<!--        select prod_id,prod_name from t_supp_prod_main where prod_id=#{prodId}-->
<!--    </select>-->
<!--    <select id="checkTblExists" resultType="String" >-->
<!--        select table_name from information_schema.tables where table_name=#{tblName}-->
<!--    </select>-->
<!--    <update id="dropTbl">-->
<!--        drop table ${tblCode}-->
<!--    </update>-->
<!--    <delete id="deleteTblById">-->
<!--        delete from t_supp_imp_tbl where tbl_id=#{tblId}-->
<!--    </delete>-->
<!--    <insert id="insertTblByName">-->
<!--        insert into t_supp_imp_tbl(prod_id,tbl_name) values(#{prodId},#{tblName})-->
<!--    </insert>-->
<!--    <select id="getTblIdByName" resultType="Long" >-->
<!--        select tbl_id from t_supp_imp_tbl where prod_id=#{prodId} and tbl_name=#{tblName}-->
<!--    </select>-->
<!--    <update id="updateTblByCode">-->
<!--        update t_supp_imp_tbl set tbl_code=#{tblCode} where tbl_id=#{tblId}-->
<!--    </update>-->
<!--    <insert id="insertFlow">-->
<!--        insert into t_supp_relat_ext(relat_id,tool_tag) values(#{relatId},'flow')-->
<!--    </insert>-->
<!--    <delete id="deleteFlow">-->
<!--        delete from t_supp_relat_ext where ext_id=#{extId}-->
<!--    </delete>-->
<!--    <select id="selOtherTypeIds" resultType="String" >-->
<!--        select step_id from t_supp_tool_step where step_id=#{oldTypeIds} and step_id!=#{stepId}-->
<!--    </select>-->
<!--    <update id="updateFlow">-->
<!--        update t_supp_relat_ext set ${field} = #{value} where ext_id=#{extId}-->
<!--    </update>-->
<!--    <update id="updateTypeIds">-->
<!--        update t_supp_relat_main set type_ids=#{newTypeIds} where relat_id=#{relatId}-->
<!--    </update>-->
<!--    <update id="cleanNullTypeIds">-->
<!--        update t_supp_relat_main set type_ids=replace("null","")-->
<!--    </update>-->
<!--    <select id="tblList" resultType="com.wision.entity.TblImpForm" >-->
<!--        select tbl_id,tbl_name,tbl_code from t_supp_imp_tbl where prod_id=#{prodId}-->
<!--    </select>-->
<!--    <select id="tblDet" resultType="com.wision.entity.TblImpForm" >-->
<!--        select tbl_id,tbl_name,tbl_code from t_supp_imp_tbl where tbl_id=#{tblId}-->
<!--    </select>-->
<!--    <select id="getMainTblByOtherRelatId" resultType="String" >-->
<!--        select CONCAT(relat_name,',',basic_tbl) from t_supp_relat_main where layout_type='主表' and menu_id in-->
<!--        (select menu_id from t_supp_relat_main where relat_id=#{relatId})-->
<!--    </select>-->
<!--    <select id="getLayoutType" resultType="String" >-->
<!--        select layout_type from t_supp_relat_main where layout_type='主表' and relat_id=#{relatId}-->
<!--    </select>-->
<!--    <update id="updateRelatBasic">-->
<!--        update t_supp_relat_main set relat_name=#{params.relatName},basic_tbl=#{basicTbl},basic_col=#{params.basicCol}-->
<!--        ,main_tbl=#{params.mainTbl},main_col=#{params.mainCol}-->
<!--        <if test="params.layoutType!=null and params.layoutType!=''">-->
<!--            ,layout_type=#{params.layoutType}-->
<!--        </if>-->
<!--        <if test="params.relatOpen!=null and params.relatOpen!=''">-->
<!--            ,relat_open=#{params.relatOpen}-->
<!--        </if>-->
<!--         where relat_id=#{params.relatId}-->
<!--    </update>-->
<!--    <update id="updateRelatFlow">-->
<!--        update t_supp_relat_main set relat_name=#{params.relatName},relat_open=#{params.relatOpen},main_tbl=#{params.mainTbl}-->
<!--        where relat_id=#{params.relatId}-->
<!--    </update>-->
<!--    <select id="getToolType" resultType="String">-->
<!--        select b.type_code from t_supp_relat_main a left join t_supp_tool_basic b on a.tool_id=b.tool_id where a.relat_id=#{relatId}-->
<!--    </select>-->
<!--    <select id="checkStepCol" resultType="String">-->
<!--        select column_name from information_schema.COLUMNS where table_name=#{userTbl} and column_name='step'-->
<!--    </select>-->
<!--    <update id="addStepCol">-->
<!--        alter table ${userTbl} add column step varchar(20)-->
<!--    </update>-->
<!--    <update id="iniStepCol">-->
<!--        update ${userTbl} set step='1'-->
<!--    </update>-->
<!--    <select id="chkExtCol" resultType="Long" >-->
<!--        select relat_id from t_supp_relat_ext where relat_id=(select relat_id from t_supp_relat_main where relat_id=#{relatId}) and tool_code='step'-->
<!--    </select>-->
<!--    <select id="getmainRelatId" resultType="Long" >-->
<!--        select relat_id from t_supp_relat_main where layout_type='主表' and menu_id=(select menu_id from t_supp_relat_main where relat_id=#{relatId})-->
<!--    </select>-->
<!--    <insert id="addExtCol">-->
<!--        insert into t_supp_relat_ext(relat_id,tool_tag,tool_code,tool_name,tool_type,res_state) values(#{relatId},'basic','step','流转状态','text','1')-->
<!--    </insert>-->
<!--    <update id="createTbl">-->
<!--        create table ${tblName} as select ${keysName} from t_supp_relat_main LIMIT 1-->
<!--    </update>-->
<!--    <delete id="cleanTbl">-->
<!--        delete from ${tblName}-->
<!--    </delete>-->
<!--    <update id="alterTbl">-->
<!--        alter table ${tblName} modify column ${colName} text(255)-->
<!--    </update>-->
<!--    <insert id="insertTbl">-->
<!--        insert into ${tblName} select ${colName} from t_supp_relat_main LIMIT 1-->
<!--    </insert>-->
<!--    <delete id="cleanHeader">-->
<!--        delete from t_supp_relat_ext where tool_tag='basic' and relat_id=#{relatId}-->
<!--    </delete>-->
<!--    <select id="getHeader" resultType="String" >-->
<!--        select CONCAT(${cols}) from ${tblName} LIMIT 1-->
<!--    </select>-->
<!--    <insert id="insertHeader">-->
<!--        insert into t_supp_relat_ext(relat_id,tool_tag,tool_code,tool_name,tool_type) values(#{relatId},'basic',#{colCode},#{colName},'text')-->
<!--    </insert>-->
<!--    <update id="cleanBasicBlank">-->
<!--        update t_supp_relat_ext set tool_code=replace(tool_code,' ','')-->
<!--    </update>-->
<!--    <delete id="deleteHeader">-->
<!--        delete from ${tblName} LIMIT 1-->
<!--    </delete>-->
<!--    <select id="newTypeIds" resultType="com.wision.entity.BasicCol" >-->
<!--        select ext_id as tool_name from t_supp_relat_ext where SUBSTRING_INDEX(tool_code,'_',-1)=#{relatId}-->
<!--    </select>-->
<!--    <select id="getColName" resultType="com.wision.entity.BasicCol" >-->
<!--        select ext_id,tool_code,tool_name,tool_type,res_state,sel_state from t_supp_relat_ext where tool_tag='basic' and relat_id=#{relatId}-->
<!--    </select>-->
<!--    <update id="updateCol">-->
<!--        update t_supp_relat_ext set ${field} = #{value} where ext_id=#{basicId}-->
<!--    </update>-->
<!--    <select id="getTblSel" resultType="com.wision.entity.ChildTblCol" >-->
<!--        select b.tool_code as field,b.tool_name as title from t_supp_relat_main a inner join t_supp_relat_ext b-->
<!--        on a.relat_id=b.relat_id where a.menu_id=#{menuId} and a.layout_type='主表'-->
<!--        <if test="res!=null and res!=''">-->
<!--            and b.res_state=1-->
<!--        </if>-->
<!--        <if test="sel!=null and sel!=''">-->
<!--            and b.sel_state=1-->
<!--        </if>-->
<!--    </select>-->
<!--    <select id="getBasicChildTbl" resultType="String" >-->
<!--        select basic_tbl from t_supp_relat_main a where menu_id=#{menuId} and layout_type='主表'-->
<!--    </select>-->
<!--    <select id="childTblCont" resultType="com.wision.entity.ChildTblForm" >-->
<!--        select #{menuId} as menu_id,a.* from ${params1.tblName} a where 1=1-->
<!--        <if test="params1.col1!=null and params1.col1!=''">-->
<!--            and a.col1 like '%' #{params1.col1} '%'-->
<!--        </if>-->
<!--        <if test="params1.col2!=null and params1.col2!=''">-->
<!--            and a.col2 like '%' #{params1.col2} '%'-->
<!--        </if>-->
<!--        <if test="params1.col3!=null and params1.col3!=''">-->
<!--            and a.col3 like '%' #{params1.col3} '%'-->
<!--        </if>-->
<!--        <if test="params1.col4!=null and params1.col4!=''">-->
<!--            and a.col4 like '%' #{params1.col4} '%'-->
<!--        </if>-->
<!--        <if test="params1.col5!=null and params1.col5!=''">-->
<!--            and a.col5 like '%' #{params1.col5} '%'-->
<!--        </if>-->
<!--        <if test="params1.col6!=null and params1.col6!=''">-->
<!--            and a.col6 like '%' #{params1.col6} '%'-->
<!--        </if>-->
<!--        <if test="params1.col7!=null and params1.col7!=''">-->
<!--            and a.col7 like '%' #{params1.col7} '%'-->
<!--        </if>-->
<!--        <if test="params1.col8!=null and params1.col8!=''">-->
<!--            and a.col8 like '%' #{params1.col8} '%'-->
<!--        </if>-->
<!--        <if test="params1.col9!=null and params1.col9!=''">-->
<!--            and a.col9 like '%' #{params1.col9} '%'-->
<!--        </if>-->
<!--        <if test="params1.col10!=null and params1.col10!=''">-->
<!--            and a.col10 like '%' #{params1.col10} '%'-->
<!--        </if>-->
<!--        <if test="params1.col11!=null and params1.col11!=''">-->
<!--            and a.col11 like '%' #{params1.col11} '%'-->
<!--        </if>-->
<!--        <if test="params1.col12!=null and params1.col12!=''">-->
<!--            and a.col12 like '%' #{params1.col12} '%'-->
<!--        </if>-->
<!--        <if test="params1.col13!=null and params1.col13!=''">-->
<!--            and a.col13 like '%' #{params1.col13} '%'-->
<!--        </if>-->
<!--        <if test="params1.col14!=null and params1.col14!=''">-->
<!--            and a.col14 like '%' #{params1.col14} '%'-->
<!--        </if>-->
<!--        <if test="params1.col15!=null and params1.col15!=''">-->
<!--            and a.col15 like '%' #{params1.col15} '%'-->
<!--        </if>-->
<!--        <if test="params1.col16!=null and params1.col16!=''">-->
<!--            and a.col16 like '%' #{params1.col16} '%'-->
<!--        </if>-->
<!--        <if test="params1.col17!=null and params1.col17!=''">-->
<!--            and a.col17 like '%' #{params1.col17} '%'-->
<!--        </if>-->
<!--        <if test="params1.col18!=null and params1.col18!=''">-->
<!--            and a.col18 like '%' #{params1.col18} '%'-->
<!--        </if>-->
<!--        <if test="params1.col19!=null and params1.col19!=''">-->
<!--            and a.col19 like '%' #{params1.col19} '%'-->
<!--        </if>-->
<!--        <if test="params1.col20!=null and params1.col20!=''">-->
<!--            and a.col20 like '%' #{params1.col20} '%'-->
<!--        </if>-->
<!--        <if test="params1.step!=null and params1.step!=''">-->
<!--            and a.step like '%' #{params1.step} '%'-->
<!--        </if>-->
<!--        order by a.id-->
<!--    </select>-->
<!--    <select id="childTblHeadDet" resultType="com.wision.entity.BasicCol" >-->
<!--        select tool_code,tool_name,tool_type from t_supp_relat_ext where tool_tag='basic' and relat_id = (select relat_id from t_supp_relat_main where menu_id = #{menuId} limit 1)-->
<!--    </select>-->
<!--    <select id="childTblContDet" resultType="com.wision.entity.ChildTblForm" >-->
<!--        select * from ${tblName} where id = #{id}-->
<!--    </select>-->
<!--    <select id="getMainTbl" resultType="com.wision.entity.MainTblVo" >-->
<!--        select relat_name from t_supp_relat_main where menu_id=#{menuId} and layout_type='主表'-->
<!--    </select>-->
</mapper>