<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaselectByUsernametiselectUsers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wision.mapper.StatsMapper">
    <select id="statsTotal" resultType="com.wision.entity.StatsListVos" >
        select count(*) as stats_total from t_bigdata_stats where 1=1
    <if test="statsType!='统计类别'">
        and stats_type=#{statsType}
    </if>
    <if test="params.statsName!=null and params.statsName!=''">
        and stats_name like '%' #{params.statsName} '%'
    </if>
    </select>
    <select id="statsList" resultType="com.wision.entity.StatsListVo" >
        select @rownum:=@rownum+1 as rownum,a.stats_id,a.stats_type,a.stats_name,CONCAT(a.stats_year,'年',a.stats_month,'月') as stats_date
        from (select @rownum:=0) r,(select a.stats_id,a.stats_type,a.stats_name,a.stats_year,a.stats_month
        from t_bigdata_stats a where 1=1
    <if test="statsType!='统计类别'">
        and a.stats_type=#{statsType}
    </if>
    <if test="params.statsName!=null and params.statsName!=''">
        and stats_name like '%' #{params.statsName} '%'
    </if>
        order by a.stats_year desc,a.stats_month desc) a limit #{page},10
    </select>
    <select id="selDet" resultType="com.wision.entity.StatsDetVo" >
        select stats_id,stats_type,stats_name,stats_year,stats_month from t_bigdata_stats where stats_id=#{statsId}
    </select>
    <insert id="insertStats">
        insert into t_bigdata_stats(stats_type,stats_name,stats_year,stats_month) values(#{statsType},#{statsName},#{statsYear},#{statsMonth})
    </insert>
    <update id="updateStats">
        update t_bigdata_stats set stats_type=#{statsType},stats_name=#{statsName},stats_year=#{statsYear},stats_month=#{statsMonth}
        where stats_id=#{statsId}
    </update>
    <delete id="deleteScore">
        delete from t_bigdata_stats_score where stats_id=#{statsId}
    </delete>
    <delete id="deleteStats">
        delete from t_bigdata_stats where stats_id=#{statsId}
    </delete>
    <insert id="insertScore">
        insert into t_bigdata_stats_score(stats_id,score_dept,score_name,score_s1,score_s2,score_s7,score_s17,score_s19)
        values (#{statsId},#{dept},#{name},#{score},#{dwsl},#{bgsh},#{jsl},#{hgl})
    </insert>
    <update id="initScore">
        update t_bigdata_stats_score set score_s3='0',score_s4='0',score_s5='0',score_s6='0',score_s8='0',score_s9='0',score_s10='0'
        ,score_s11='0',score_s12='0',score_s13='0',score_s14='0',score_s15='0',score_s16='0',score_s18='0',score_s20='0',score_s21='1'
        ,score_s22='0',score_s23='1',score_s24='0',score_s25='0',score_s26='10',score_total='0',score_total_dept='0'
        where stats_id=#{statsId}
    </update>
    <update id="updateScore">
        update t_bigdata_stats_score set ${field}=#{value} where score_id=#{scoreId}
    </update>
    <select id="getYM" resultType="com.wision.entity.StatsDetVo" >
        select stats_year,stats_month from t_bigdata_stats where stats_id=#{statsId}
    </select>
    <update id="runStep1">
        update t_bigdata_stats_score set score_s3=(case when score_s2>40 then 40+(score_s2-40)*0.5 else score_s2 end)
        where stats_id=#{statsId}
    </update>
    <update id="runStep2">
        update t_bigdata_stats_score set score_s14=score_s1+score_s3+score_s4+score_s5+score_s6+score_s7+score_s12+score_s13
        where stats_id=#{statsId}
    </update>
    <update id="runStep3a">
        update t_bigdata_stats_score t set t.score_s9=(select a.num from (select a.score_id,b.num from t_bigdata_stats_score a
        inner join (select distinct b.score_dept,ROUND(sum(b.score_s14)/count(*)/(select workday_day from t_sys_workday
        where workday_year=#{workdayYear} and workday_month=#{workdayMonth})*b.score_s8,2) as num from t_bigdata_stats_score b
        where b.stats_id=#{statsId} group by b.score_dept) b on a.score_dept=b.score_dept) a where a.score_id=t.score_id) where EXISTS
        (select 1 from (select a.score_id,b.num from t_bigdata_stats_score a inner join (select distinct b.score_dept,ROUND(sum(b.score_s14)/count(*)/30*b.score_s8,2) as num
        from t_bigdata_stats_score b where b.stats_id=#{statsId} group by b.score_dept) b on a.score_dept=b.score_dept) b where b.score_id=t.score_id)
        and stats_id=#{statsId}
    </update>
    <update id="runStep3b">
        update t_bigdata_stats_score t set t.score_s11=(select a.num from (select a.score_id,b.num from t_bigdata_stats_score a
        inner join (select distinct b.score_dept,ROUND(sum(b.score_s15)/count(*)/(select workday_day from t_sys_workday
        where workday_year=#{workdayYear} and workday_month=#{workdayMonth})*b.score_s10*0.7,2) as num from t_bigdata_stats_score b
        where b.stats_id=#{statsId} group by b.score_dept) b on a.score_dept=b.score_dept) a where a.score_id=t.score_id) where EXISTS
        (select 1 from (select a.score_id,b.num from t_bigdata_stats_score a inner join (select distinct b.score_dept,ROUND(sum(b.score_s15)/count(*)/30*b.score_s10*0.7,2) as num
        from t_bigdata_stats_score b where b.stats_id=#{statsId} group by b.score_dept) b on a.score_dept=b.score_dept) b where b.score_id=t.score_id)
        and stats_id=#{statsId}
    </update>
    <update id="runStep4">
        update t_bigdata_stats_score set score_s15=score_s14+score_s9+score_s11 where stats_id=#{statsId}
    </update>
    <update id="runStep5">
        update t_bigdata_stats_score t set t.score_s16=(select a.num from (select a.score_id,b.num from t_bigdata_stats_score a
        inner join (select distinct b.score_dept,ROUND(b.score_s15/(sum(b.score_s15)/count(*))*70,2) as num from t_bigdata_stats_score b
        where b.stats_id=#{statsId} group by b.score_dept) b on a.score_dept=b.score_dept) a where a.score_id=t.score_id) where EXISTS (select 1 from
        (select a.score_id,b.num from t_bigdata_stats_score a inner join (select distinct b.score_dept,ROUND(b.score_s15/(sum(b.score_s15)/count(*))*70,2) as num
        from t_bigdata_stats_score b where b.stats_id=#{statsId} group by b.score_dept) b on a.score_dept=b.score_dept) b where b.score_id=t.score_id)
        and stats_id=#{statsId}
    </update>
    <update id="runStep6a">
        update t_bigdata_stats_score set score_s18=(case when score_s17>=1 then 0 else FLOOR((score_s17*100-100)/0.5) end)
        where stats_id=#{statsId}
    </update>
    <update id="runStep6b">
        update t_bigdata_stats_score set score_s20=(case when score_s19>=0.9 then (case when CEILING(score_s19*100-90)*0.5&lt;2.5 then
        CEILING(score_s19*100-90)*0.5 else 2.5 end) else FLOOR(score_s19*100-90) end)
        where stats_id=#{statsId}
    </update>
    <update id="runStep6c">
        update t_bigdata_stats_score set score_s22=(case when score_s21>=1 then 0 else FLOOR(score_s21*100-100) end)
        where stats_id=#{statsId}
    </update>
    <update id="runStep6d">
        update t_bigdata_stats_score set score_s24=(case when FLOOR(score_s23*100)&lt;100 then FLOOR(score_s23*100)-95 else 5 end)
        where stats_id=#{statsId}
    </update>
    <update id="runStep6e">
        update t_bigdata_stats_score set score_s25=(case when round(20+score_s18+score_s20+score_s22+score_s24,2)>0 then
        round(20+score_s18+score_s20+score_s22+score_s24,2) else 0 end)
        where stats_id=#{statsId}
    </update>
    <update id="runStep7">
        update t_bigdata_stats_score set score_total=round(score_s16+score_s25+score_s26,2)
        where stats_id=#{statsId}
    </update>
    <update id="runStep8">
        update t_bigdata_stats_score t set t.score_total_dept=(select a.num from (select a.score_id,b.num from t_bigdata_stats_score a
        inner join (select distinct b.score_dept,ROUND(sum(b.score_total),2) as num from t_bigdata_stats_score b where b.stats_id=#{statsId}
        group by b.score_dept) b on a.score_dept=b.score_dept) a where a.score_id=t.score_id) where EXISTS (select 1 from (select a.score_id,b.num
        from t_bigdata_stats_score a inner join (select distinct b.score_dept,ROUND(sum(b.score_total),2) as num from t_bigdata_stats_score b
        where b.stats_id=#{statsId} group by b.score_dept) b on a.score_dept=b.score_dept) b where b.score_id=t.score_id)
        and stats_id=#{statsId}
    </update>
    <select id="selScoreDet" resultType="com.wision.entity.ScoreDetVo" >
        select score_id,score_dept,score_name,score_s1,score_s2,score_s3,score_s4,score_s5,score_s6,score_s7,score_s8,score_s9
        ,score_s10,score_s11,score_s12,score_s13,score_s14,score_s15,score_s16,score_s17,score_s18,score_s19,score_s20,score_s21
        ,score_s22,score_s23,score_s24,score_s25,score_s26,score_total,score_total_dept from t_bigdata_stats_score
        where stats_id=#{statsId} order by score_dept,score_name
    </select>
</mapper>