<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaselectByUsernametiselectUsers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wision.mapper.UnitDesMapper">
    <select id="toolList" resultType="com.wision.entity.UnitListVo" >
        select a.tool_id,a.tool_type,a.tool_name,a.tool_ver,tool_conf,a.tool_explain,date_format(a.tool_time,'%Y-%m-%d') as tool_time,a.share_num,a.tool_state
        from t_supp_tool_basic a where 1=1
        <if test="params.toolType!=null and params.toolType!=''">
            and a.tool_type = #{params.toolType}
        </if>
        <if test="params.toolName!=null and params.toolName!=''">
            and a.tool_name like #{params.toolName} '%'
        </if>
        <if test="params.toolState!=null and params.toolState!=''">
            and a.tool_state = #{params.toolState}
        </if>
        order by a.tool_id
    </select>
</mapper>