<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaselectByUsernametiselectUsers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wision.mapper.TopMapper">
    <select id="selDiary" resultType="com.wision.entity.LogVo">
        select t.diary_date,t.diary_note from t_oa_top_diary t where t.diary_date = #{params.diaryDate}
        and t.diary_type = #{params.diaryType} and t.user_id = #{params.userId} and t.type_id=#{params.typeId}
    </select>
    <insert id="insertDiary">
        insert into t_oa_top_diary(user_id,diary_date,diary_note,diary_type,type_id) values(#{params.userId},#{params.diaryDate}
        ,#{params.diaryNote},#{params.diaryType},#{params.typeId})
    </insert>
    <update id="updateDiary">
        update t_oa_top_diary set diary_note=#{params.diaryNote} where diary_date=#{params.diaryDate}
        and diary_type=#{params.diaryType} and user_id=#{params.userId} and type_id=#{params.typeId}
    </update>
    <delete id="deleteDiary">
        delete from t_oa_top_diary where diary_note is null or diary_note='' or diary_date is null or diary_date=''
    </delete>
</mapper>